.nav__container{
    background-color: #2374B7;
}

.nav__search{
    max-width: 1200px;
    margin: auto;
    padding: 20px 0 20px 0;
    justify-content: space-around;
}

.nav__logo-ingram{
    height: auto;
    width: 150px;
}



.nav__searchbar{
    width: 650px;
}

.nav__btn{
    width: 175px;
}